@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Screen sizes from tailwind-3 defaults */
    /*     
    sm: 640px;
    md: 768px;
    lg: 1024px;
    xl: 1280px;
    2xl: 1536px; */

    /* Component Variables */
    --nav-height-mobile: theme('height.24');

    /* utilities */
    --flow-content-mt: 1.125em;
  }

  /* For browsers that support clamp  */
  /* For browsers that support clamp  */
  @supports (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
      --fs-sm: clamp(0.89rem, 0.02vi + 0.88rem, 0.9rem);
      --fs-base: clamp(1rem, 0.22vi + 0.95rem, 1.13rem);
      --fs-md: clamp(1.13rem, 0.49vi + 1.01rem, 1.41rem);
      --fs-lg: clamp(1.27rem, 0.86vi + 1.07rem, 1.76rem);
      --fs-xl: clamp(1.42rem, 1.35vi + 1.12rem, 2.2rem);
      --fs-xxl: clamp(1.6rem, 1.99vi + 1.15rem, 2.75rem);
      --fs-xxxl: clamp(1.8rem, 2.84vi + 1.16rem, 3.43rem);
    }
  }
  /* For browsers that don't support clamp */
  @supports not (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
      --fs-sm: 0.89rem;
      --fs-base: 1rem;
      --fs-md: 1.13rem;
      --fs-lg: 1.27rem;
      --fs-xl: 1.42rem;
      --fs-xxl: 1.6rem;
      --fs-xxxl: 1.8rem;
    }
    @media screen and (min-width: 1280px) {
      :root {
        --fs-sm: 0.9rem;
        --fs-base: 1.13rem;
        --fs-md: 1.41rem;
        --fs-lg: 1.76rem;
        --fs-xl: 2.2rem;
        --fs-xxl: 2.75rem;
        --fs-xxxl: 3.43rem;
      }
    }
  }

  html {
    font-size: 1rem;
    line-height: 1.4;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-heading;
    line-height: 1.125;
  }

  h1 {
    @apply font-black;
    font-size: var(--fs-xxl);
  }

  h2 {
    @apply font-extrabold;
    font-size: var(--fs-xl);
  }

  h3 {
    @apply font-bold;
    font-size: var(--fs-lg);
  }

  h4 {
    @apply font-bold;
    font-size: var(--fs-md);
  }

  h5 {
    @apply font-bold;
  }

  body {
    font-size: var(--fs-base);
  }
}

/* Components */
@layer components {
  /* Buttons */
  .btn {
    @apply px-7 py-2;
  }

  .btn-primary {
    @apply btn border border-neutral-950 bg-neutral-950 text-neutral-200;
  }

  .btn-primary:hover {
    @apply bg-neutral-200 text-neutral-950 transition-colors duration-500;
  }

  .btn-primary:disabled {
    @apply pointer-events-none bg-neutral-950/75 italic;
  }

  .btn-secondary {
    @apply btn border border-active-link bg-active-link text-slate-50;
  }

  .btn-secondary:hover {
    @apply bg-neutral-200 text-active-link transition-colors duration-500;
  }

  .btn-secondary:disabled {
    @apply pointer-events-none bg-active-link/75 italic;
  }

  /* Form Fields */
  form {
    @apply flex flex-col gap-2;
  }

  .form-control {
    @apply flex flex-col;
  }

  .form-control label {
    @apply font-semibold;
  }

  .form-control input,
  .form-control textarea {
    @apply mt-1 border-2 border-neutral-950 p-1.5;
  }

  .form-control textarea {
    @apply resize-none;
  }

  .form-control [class*='-error'] {
    @apply text-sm font-semibold text-red-700;
    visibility: hidden;
  }

  .form-control [class*='-error'].visible {
    visibility: visible;
  }

  /* FALLBACK: only active if browser does not support :user-invalid */
  @supports not selector(:user-invalid) {
    /* This selector is whack. The thought is:
        * placeholder not shown means user interacted
        * don't want error to show during focus
        * want error to show if input is invalid
        * targets visibility of <p> with error class
    */
    .form-control
      input:invalid:not(:focus):not(:placeholder-shown)
      ~ [class*='-error'],
    .form-control
      textarea:invalid:not(:focus):not(:placeholder-shown)
      ~ [class*='-error'] {
      visibility: visible;
    }
  }

  /* ENHANCED: only active in browsers that support :user-invalid */
  @supports selector(:user-invalid) {
    .form-control input:user-invalid ~ [class*='-error'],
    .form-control textarea:user-invalid ~ [class*='-error'] {
      visibility: visible;
    }
  }

  /* Red border while invalid and touched */
  .form-control input:user-invalid:not(:placeholder-shown),
  .form-control textarea:user-invalid:not(:placeholder-shown) {
    @apply border-red-700;
  }
}

/* 
* Utility Classes 
*/

/* This class is applied to the <body> when nav menu is open */
.block-scroll {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  touch-action: none;
}

.flow-content * + * {
  margin-top: var(--flow-content-mt);
}

@media (min-width: theme('screens.md')) {
  /* Utility classes to work alongside side-by-side component */
  #side-by-side[data-content-direction='image-content'] #side-by-side-text {
    align-items: flex-start;
  }

  #side-by-side[data-content-direction='content-image'] #side-by-side-text {
    align-items: flex-end;
  }
}
