@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Screen sizes based on tailwind-3 defaults */
    --screen-sm: 640px;
    --screen-md: 768px;
    --screen-lg: 1024px;
    --screen-xl: 1280px;
    --screen-2xl: 1536px;

    /* Component Variables */
    --nav-height-mobile: theme('height.24');
  }

  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: url('@fontsource-variable/raleway/files/raleway-latin-wght-normal.woff2')
      format('woff2');
  }
}

/* Components */
@layer components {
  .btn {
    @apply border border-neutral-950 px-7 py-2;
  }

  .btn-primary {
    @apply bg-neutral-950 text-neutral-200;
  }

  .btn-primary:hover {
    @apply border border-neutral-950 bg-neutral-200 text-neutral-950 transition-colors duration-500;
  }
}

/* 
* Utility Classes 
*/

/* This class is applied to the <body> when nav menu is open */
.block-scroll {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  touch-action: none;
}

.flow-content * + * {
  margin-top: 1.5em;
}

@media (min-width: theme('screens.md')) {
  /* Utility classes to work alongside side-by-side component */
  #side-by-side[data-content-direction='image-content'] #side-by-side-text {
    align-items: flex-start;
  }

  #side-by-side[data-content-direction='content-image'] #side-by-side-text {
    align-items: flex-end;
  }
}
